---
const { title } = Astro.props;
---
<section id="contact">
  <div class="content-flex">
    <h2>{title}</h2>
    <p>
      <a href="mailto:email@domain.com">comercial@venezolanadeacero.com</a>
    </p>
  </div>
</section>
    
<style lang="scss">
  @use "../assets/sass/index" as *;

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 5%;
    margin: 0;
    flex-direction: column;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), 
      url("../assets/image/contact.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 20px;
    height: 400px; // Ajusta la altura según sea necesario
  }

  .content-flex {
    text-align: center;
    color: $white; // Color blanco para el texto
  }

  h2 {
    font-size: 2.5rem;
    font-weight: $bold;
    color: $white; // Asegura que el texto sea blanco
    margin: 0 0 10px;
  }

  p {
    font-size: 1.2rem;
    color: $white; // Asegura que el texto sea blanco
    margin: 0;
  }

  a {
    color: $white; 
    text-decoration: none; 
    transition: color 0.3s ease; 

    &:hover {
      color: $grey; 
    }
  }

  @media (min-width: 1024px) {
    section {
      height: 500px; 
    }

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
</style>