<footer>
    <p>&copy; 2025 Venezolana de acero. Todos los derechos reservados.</p>
</footer>

<style lang="scss">
  @use "../assets/sass/index" as *;

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: $blueTertiary;
    color: black;
    font-family: $text;
    font-weight: $regular;
    font-size: 1.25rem;
  }

</style>