---
import NavigationEn from "../components/NavigationEn.astro";
import Openbutton from "../components/Hamburguer.astro";
import logo from "../assets/image/logo.png";
const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
    <link rel="icon" type="image/png" href={logo.src} />
    <meta name="google-site-verification" content="5_DNp260tsiWoaxNtCC362jjS14Gdn-Gt6tMj7JMBgk" />
		<meta name="viewport" content="width=device-width" />
    <meta name="description" content="portfolio luis santeliz frond end developer">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://unpkg.com/@phosphor-icons/web"></script>
	</head>
  <body>
    <Openbutton />
    <NavigationEn />
    <slot />
  </body>
</html>

<style is:global lang="scss">
  @use '../assets/sass/index' as *; 
    
  html {
    scroll-behavior: smooth;
  }
  
  ol, a {
    list-style: none;
    text-decoration: none;
  }
  
  body {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: $bold;
    font-family: $heading;
    color: $secondary;
    margin: 0 5%;
  }

  h2 {
    font-size: 3rem;
    font-weight: $bold;
    font-family: $heading;
    color: $secondary;
    margin: 0 5%;
  }

  h3 {
    font-size: 2rem;
    font-family: $heading;
    font-weight: $bold;
    color: $secondary;
    margin: 0 15%; 
  }
  
  .underline {
    width: 130px;
    height: 2px;
    background-color: $tertiary;
    justify-content: left;
    border-radius: 2px;
    margin: 0 5% 20px; 
  }
  
  p {
    font-size: 1.25rem;
    font-family: $text;
    font-weight: $regular;
    color: $secondary;
    margin: 0 5%; 
  }

  a {
    font-size: 1rem;
    font-weight: $regular;
    font-family: $text;
    color: $tertiary;
  }
  
  // inicia boton rojo de accion
  
  .primarybutton {
    width: 90%;
    height: 60px;
    padding: 20px;
    margin: 10% 5% 0px;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: $text;
    font-weight: $regular;
    font-size: 1.5rem;
    color: $tertiary;
    
    a {
      font-family: $text;
      font-weight: $regular;
      font-size: 1.5rem;
    }
  }
  
  .primarybutton {
    background-color: $primary;
    box-shadow: 0 0 10px 10px rgba($tertiary, 35%);
  }
  
  .primarybutton:hover {
    background-color: $primary;
    box-shadow: 0 0 25px 15px rgba($tertiary, 25%);
  }
</style>
