---
import Navigation from "../components/NavigationEn.astro";
import Openbutton from "../components/Hamburguer.astro";
import logo from "../assets/image/logo.png";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href={logo.src} />
		<meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
		<meta name="generator" content={Astro.generator} /> 
		<title>Venezolana de acero</title>
		<script src="https://unpkg.com/@phosphor-icons/web"></script>
	</head>
  <body>
    <Openbutton />
    <Navigation />
    <slot />
  </body>
</html>

<style is:global lang="scss">
  @use '../assets/sass/index' as *; 

  body {
    background-color: $white;
  }
    
  html {
    scroll-behavior: smooth;
  }
  
  ol, a, li {
    list-style: none;
    text-decoration: none;
  }
  
  body {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: $regular;
    font-family: $heading;
    color: $white;
    margin: 0 5%;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: $bold;
    font-family: $heading;
    color: $black;
    margin: 0 0%;
  }

  h3 {
    font-size: 1.25rem;
    font-family: $heading;
    font-weight: $bold;
    color: $black;
    margin: 0 0%; 
  }

  h4 {
    font-size: 1.5rem;
    font-family: $heading;
    font-weight: $bold;
    color: $white;
  }
  
  .underline {
    width: 100%;
    height: 2px;
    background-color: $blue;
    justify-content: left;
    border-radius: 2px;
    margin: 0 0 20px; 
  }
  
  p {
    font-size: 1rem;
    font-family: $heading;
    font-weight: $regular;
    color: $white;
    margin:0 5%; 
  }

  a {
    font-size: 1rem;
    font-weight: $regular;
    font-family: $text;
    color: $white;
  }
  
  // boton

  .button-container {
    display: flex;
    gap: 20px;
  }
  
  .primarybutton {
    width: 150px;
    height: 40px;
    margin: 0;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
    
  a {
    font-family: $heading;
    font-weight: $regular;
    font-style: $text;
    font-size: 1rem;
  }

  .transparent {
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 5px;
  }
  
  .primarybutton {
    background-color: $grey;
    border-radius: 5px;
    border: none;

    a {
      color: $white;
      font-size: 1.2rem;
      font-weight: $bold;
      font-family: $text;
    }
  }
  
  .primarybutton:hover {
    background-color: rgba(#434141, 50%);
  }

  .transparent:hover {
    background-color: rgba(#434141, 50%);
  }

  h2 {
  font-size: 1.5rem; // Tama침o base para m칩viles
  font-weight: $bold;

  @media (min-width: 768px) {
    font-size: 2rem; // Tama침o para tabletas
  }

  @media (min-width: 1024px) {
    font-size: 2.5rem; // Tama침o para pantallas grandes
  }
}

h3 {
  font-size: 1.25rem; 
  font-weight: $regular;

  @media (min-width: 768px) {
    font-size: 1.75rem;
  }

  @media (min-width: 1024px) {
    font-size: 2rem; 
  }
}
</style>