@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// fonts

$heading: 'Montserrat', sans-serif;
$monospace: 'Courier New', Courier, monospace;
$text: 'Roboto';

// weights

$regular: 400;
$medium: 500;
$bold: 700;
$semibold: 600;